.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 1rem .5rem;
    background: #ccc;
    text-align: center;
}

.card-image {
    width: 159px;
    height: 200px;
    object-fit: fill;
}