@page "/"
@using Client.Utils

<PageTitle>Inicio</PageTitle>

<div style="display: flex; gap: 1rem">
    <FluentCard>
        <h4>Presidentes</h4>
        <p>Un listado con los detalles de todos lo presidentes que han pasado por este país.</p>
        <FluentAnchor 
            Appearance="Appearance.Accent" Href="@PageRoutes.Presidents">
            Ver más
        </FluentAnchor>
    </FluentCard>
    <FluentCard>
        <h4>Ciudades</h4>
        <p>Un listado con los detalles de todas las ciudades del país.</p>
        <FluentAnchor
                Appearance="Appearance.Accent" Href="@PageRoutes.Presidents">
            Ver más
        </FluentAnchor>
    </FluentCard>
</div>