@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Word"/>
<div style="height: 100vh;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header>
            <h3>Conoce Colombia</h3>
        </Header>
        <Body>
            @Body
            <div id="blazor-error-ui">
                An unhandled error has occurred.
                <a href="" class="reload">Reload</a>
                <a class="dismiss">🗙</a>
            </div>
        </Body>
        <NavMenuContent>
            <FluentNavLink  Icon="@(new Icons.Regular.Size20.Home())" Href="/" Text="Inicio" Match="NavLinkMatch.All">Inicio</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>


<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentDesignTheme StorageName="theme"/>