@rendermode InteractiveServer

<footer class="pagination">
    <button @onclick="@PreviousPage" class="pagination-button">Anterior</button>
    <p>
        Página @PageNumber de @PageCount
    </p>
    <button @onclick="@NextPage" class="pagination-button">Siguiente</button>
</footer>