<footer class="pagination">
    <button class="pagination-button">Anterior</button>
    <p>
        Página @PageNumber de @PageCount
    </p>
    <button class="pagination-button">Siguiente</button>
</footer>